/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
TABLE OF CONTENTS
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*
 * 0. General
 * 1. Navigation
 * 
*/

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
0. GENERAL
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/*______________________________________
Fonts
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/noto-sans-v35-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/noto-sans-v35-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/noto-sans-v35-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/noto-sans-v35-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Federo";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/federo-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/material-symbols-rounded-v156-latin-regular.woff2")
    format("woff2");
}

/*______________________________________
Default Variables
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/* 
- Schriften?
- Plattdeutsch?
*/

:root {
  /* sets font size to 10px and respects user font preferences */
  font-size: 62.5%;
  --tst-backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tst-text-font: "Noto Sans", var(--tst-backup-fonts);
  --tst-highlight-font: "Federo", var(--tst-backup-fonts);
  --tst-icon-font: "Material Symbols Rounded";
  --tst-nav-icon-font-size: 2rem;

  --tst-space-xs: 0.5rem;
  --tst-space-s: 1rem;
  --tst-space-m: 2rem;
  --tst-space-l: 4rem;
  --tst-space-xl: 8rem;

  --tst-space-y: var(--tst-space-xl);
  --tst-space-x: var(--tst-space-l);

  --tst-page-width-l: 1440px;
  --tst-page-width-m: 1296px;
  --tst-page-width-s: 1024px;
  --tst-page-width-xl: 1668px;
  --tst-page-width-text: 70ch;
  --tst-default-page-width: var(--tst-page-width-m);

  --tst-h1: 4.7rem;
  --tst-h2: 2.6rem;
  --tst-h3: 2.1rem;
  --tst-h4: 1.85rem;
  --tst-h5: 1.6rem;
  --tst-h6: 1.6rem;
  --tst-text: 1.6rem;

  --tst-border-radius: 0.4rem;

  --tst-nav-height: 9.5rem;
  --tst-nav-gap-x: var(--tst-space-l);
  --tst-nav-gap-y: var(--tst-space-m);
  --tst-nav-height-scrolled: 7.5rem;
  --tst-current-nav-height: var(--tst-nav-height);

  /* 60-30-10 Regel
   * 60% Primary Color
   * 0% Secondary Color
   * 10% Accent Color
  */

  --tst-color-primary: #fdf9f7;
  --tst-color-secondary: #beae9f; /* b99b7e */
  --tst-color-secondary-light: hsl(29, 19%, 88%);
  --tst-color-secondary-2: #d8ddc0;
  --tst-color-secondary-2-light: #e7ead7;

  --tst-color-accent: hsl(24, 96%, 70%);
  --tst-color-accent: #7f2929;
  --tst-color-accent: rgb(170, 61, 41);
  --tst-color-accent: rgb(119 49 80);

  --tst-color-text: #3e4344;
  --tst-color-background-1: var(--tst-color-primary);
  --tst-color-nav: var(--tst-color-primary);
}

[data-scrolled="true"] {
  --tst-current-nav-height: var(--tst-nav-height-scrolled);
}

/*______________________________________
Breakpoints
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@media (max-width: 768px) {
  :root {
  }
  body {
  }
}

@media (max-width: 425px) {
  :root {
  }
}

/*______________________________________
Default Styles
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--tst-text-font);
  font-size: 1.8rem;
  line-height: 1.45;
  color: var(--tst-color-text);
  background-color: var(--tst-color-nav);
  padding-top: var(--tst-current-nav-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tst-text-font);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.35em;
}

h1 {
  font-family: var(--tst-highlight-font);
}

h1 {
  font-size: var(--tst-h1);
}

h2 {
  font-size: var(--tst-h2);
}

h3 {
  font-size: var(--tst-h3);
}

h4 {
  font-size: var(--tst-h4);
}

h5 {
  font-size: var(--tst-h5);
}

h6 {
  font-size: var(--tst-h6);
}

.dev-lines {
  position: fixed;
  border-left: 2px solid gray;
  border-right: 2px solid gray;

  inset: 0 calc((100vw - var(--tst-default-page-width)) / 2) 0
    calc((100vw - var(--tst-default-page-width)) / 2);
}

p.tst-paragraph {
  margin-bottom: var(--tst-space-m);
  max-width: 75ch;
}

a {
  color: var(--tst-color-text);
  text-decoration: none;
  position: relative;
}

a:is(:hover, :focus-visible) {
  color: var(--tst-color-accent);
  text-decoration: underline;
  outline: none;
}

/*______________________________________
Link animation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
#tst-site-nav:not(.tst-nav-mobile) > .tst-section-inner ul li {
  position: relative;
  width: min-content;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li.tst-hover, li:not(.tst-preload))::before,
footer a:not(.tst-preload)::before {
  content: "";
  z-index: 101;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--tst-color-text);
  transition: width 0.3s ease-in-out;
  top: 50%;
  right: 0;
  transform: translateY(1rem);
  animation: link-out 0.3s ease-in-out forwards;
}

footer a:not(.tst-preload)::before {
  background-color: var(--tst-color-primary);
}

@keyframes link-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li:hover, li:focus-within)::before,
footer a:is(:hover, :focus-visible)::before {
  animation: link-in 0.3s ease-in-out forwards;
}

@keyframes link-in {
  from {
    width: 0;
    left: 0;
    right: unset;
  }
  to {
    width: 100%;
    left: 0;
    right: 0;
  }
}

/* Button */

.tst-button {
  text-wrap: nowrap;
  appearance: none;
  outline: none;
  margin: 0;
  font-size: 1.6rem;
  padding: var(--tst-space-xs) calc(var(--tst-space-m) * 1.5);
  text-decoration: none;
  font-weight: 400;
  font-family: var(--tst-text-font);
  cursor: pointer;
  width: max-content;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  border-radius: var(--tst-border-radius);
  gap: 0.5rem;
  color: var(--tst-color-primary);
  border: 2px solid var(--tst-color-accent);
  background-color: var(--tst-color-accent);
}

.tst-button.secondary {
  color: var(--tst-color-primary);
  border-color: var(--tst-color-secondary);
  background-color: var(--tst-color-secondary);
}

.tst-button.secondary:is(:hover, :focus-visible) {
  color: var(--tst-color-secondary);
  background-color: var(--tst-color-primary);
  border-color: var(--tst-color-secondary);
}

.tst-button:is(:hover, :focus-visible) {
  background-color: var(--tst-color-primary);
  border-color: var(--tst-color-accent);
  color: var(--tst-color-accent);
  text-decoration: none;
}

.tst-button:active {
  transform: scale(0.99);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
1. NAVIGATION
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

nav ul,
footer ul {
  list-style: none;
}

#tst-site-nav {
  touch-action: manipulation;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */
  height: var(--tst-nav-height);
  z-index: 100;
  background-color: var(--tst-color-primary);
  color: var(--tst-color-text);
  transition: transform 0.3s ease-in-out;
  animation: open-nav 0.3s ease-in-out forwards;
  /* If this is changes the loaded font in "./js/modules/nav.js" has to be changed */
  font-family: "Noto Sans", var(--tst-backup-fonts);
  font-weight: 400;
}

#tst-site-nav > .tst-section-inner {
  /* don't change x padding this is needed for cs calculation */
  padding: var(--tst-space-s) var(--tst-space-x);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--tst-nav-gap-x);
}

#tst-site-nav .tst-section-inner > ul {
  display: contents;
}

#tst-site-nav > .tst-section-inner ul li a {
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  font-size: var(--tst-text);
  font-weight: 500;
  display: block;
}

/*______________________________________
Shrinking Nav
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-preload {
  animation: none;
}

[data-scrolled="true"] #tst-site-nav:not(.tst-nav-open).tst-nav-hide {
  transform: translateY(calc(-100% + var(--tst-space-s)));
}

@keyframes open-nav {
  from {
    height: var(--tst-nav-height-scrolled);
  }
  to {
    height: var(--tst-nav-height);
  }
}

[data-scrolled="true"] #tst-site-nav {
  animation: shrink-nav 0.3s ease-in-out forwards;
}

@keyframes shrink-nav {
  to {
    height: var(--tst-nav-height-scrolled);
  }
}

/*______________________________________
Logo
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav #tst-site-logo {
  height: 100%;
  margin-right: auto;
}
#tst-site-nav img {
  height: 100%;
  width: auto;
}

/*______________________________________
Desktop: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav #tst-menu-btn {
  appearance: none;
  display: none;
  background-color: unset;
  color: var(--tst-color-text);
  border: none;
  margin: 0;
  padding: 0;
  font-size: calc(var(--tst-current-nav-height) - 3 * var(--tst-space-s));
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

#tst-site-nav #tst-menu-btn::before {
  content: "\e5d2";
  display: block;
  font-family: var(--tst-icon-font);
}

#tst-site-nav > .tst-section-inner .tst-nav-overlay {
  display: none;
  position: fixed;
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  left: 0;
  width: 100vw;
  z-index: 99;
}

/*______________________________________
Desktop: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level {
  position: relative;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

#tst-site-nav .tst-section-inner li.tst-nav-sub-level::after {
  content: "\e5cf";
  font-family: var(--tst-icon-font);
  right: 0;
  font-size: var(--tst-nav-icon-font-size);
  line-height: 1;
}

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: var(--tst-nav-gap-y) var(--tst-space-x);
  background-color: var(--tst-color-text);
  flex-direction: column;
  gap: var(--tst-nav-gap-y);
  left: 50%;
  transform: translate(-50%);
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  li.tst-nav-sub-level:last-child
  ul {
  transform: translate(var(--tst-space-x));
  right: 0;
  left: unset;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  :is(li.tst-nav-sub-level:hover, li.tst-nav-sub-level:focus-within)
  ul {
  display: flex;
}

/*______________________________________
Mobile: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-open #tst-menu-btn::before {
  content: "\e5cd";
}
#tst-site-nav.tst-nav-mobile #tst-menu-btn {
  display: block;
}

#tst-site-nav.tst-nav-mobile {
  overflow: visible;
}

#tst-site-nav.tst-nav-mobile > .tst-section-inner > ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open > .tst-section-inner > ul {
  animation: slide-in 0.1s ease-out forwards;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-nav);
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  right: 0;
  z-index: 100;
  width: max-content;
  gap: 0;
  padding: var(--tst-space-s) 0;
  min-width: 62vw;
  border-left: 2px solid var(--tst-color-nav);
  border-right: 2px solid var(--tst-color-nav);
  overflow-y: scroll;
  padding-bottom: 12rem;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  > ul {
  animation: slide-out 0.1s ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  > ul
  li:not(.tst-nav-sub-level) {
  display: block;
  width: 100%;
  /* if change: mobile sub should be updated */
  padding: var(--tst-space-s) var(--tst-space-x);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/*______________________________________
Mobile: Overlay
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  .tst-nav-overlay {
  display: block;
  animation: blur-in 0.1s ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  .tst-nav-overlay {
  animation: blur-out 0.1s ease-out forwards;
}

@keyframes blur-in {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@keyframes blur-out {
  from {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  to {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

/*______________________________________
Mobile: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.3rem;
  justify-items: start;
  grid-auto-flow: dense;
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level li {
  background-color: var(--tst-color-primary);
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level
  li:not(:first-child) {
  border-top: 2px solid var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level li a {
  color: var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  ul {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  background-color: var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level > a {
  padding: var(--tst-space-s) 0 var(--tst-space-s) var(--tst-space-x);
  position: relative;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  > a::before {
  content: "";
  z-index: 101;
  display: block;
  position: absolute;
  height: 2px;
  width: calc(
    100% - var(--tst-space-x) + 0.3rem + var(--tst-nav-icon-font-size)
  );
  background-color: var(--tst-color-primary);
  transition: width 0.3s ease-in-out;
  top: 50%;
  right: 0;
  transform: translate(calc(0.3rem + var(--tst-nav-icon-font-size)), 1rem);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. Default Section 
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

main {
  display: contents;
}

.tst-section {
  width: 100vw;
  background-position: bottom;
  background-size: cover;
  background: var(--tst-color-primary);
  background-repeat: no-repeat;
  background-size: cover;
}

.tst-section .tst-section-inner {
  max-width: calc(var(--tst-default-page-width) + var(--tst-space-x) * 2);
  margin: 0 auto;
  padding: var(--tst-space-y) var(--tst-space-x);
  grid-auto-flow: dense;
}

.tst-section.secondary {
  background-color: var(--tst-color-secondary);
}

.tst-section.secondary-2 {
  background-color: var(--tst-color-secondary-2);
}

.tst-section.wide .tst-section-inner {
  max-width: calc(var(--tst-page-width-l) + var(--tst-space-x) * 2);
}

.tst-section.small .tst-section-inner {
  max-width: calc(var(--tst-page-width-text) + var(--tst-space-x) * 2);
}

/* Background images */
.tst-section.f {
  background-image: url("./img/flower.svg");
  background-position: right bottom;
}

.tst-section.f.r {
  background-image: url("./img/flower-r.svg");
  background-position: left bottom;
}

.tst-section.w {
  background-image: url("./img/waves.svg");
  background-position: bottom center;
}

.tst-section.w.r {
  background-image: url("./img/waves-r.svg");
}

footer,
nav {
  background-image: none !important;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. SECTIONS IMG TEXT
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/* Change order */

.tst-section-img-text.ro .tst-section-inner :last-child {
  grid-column: 1 / 2;
}
.tst-section-img-text.ro .tst-section-inner :first-child {
  grid-column: 2 / 3;
}

.tst-section-img-text > .tst-section-inner {
  display: grid;
  grid-gap: var(--tst-space-m);
  place-items: center start;
  grid-template-columns: 1fr 1fr;
}

.tst-section-img-text img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5 / 4;
  width: 100%;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. SECTIONS CTA
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-cta .tst-section-inner {
  display: grid;
  gap: var(--tst-space-m);
  place-items: center;
  text-align: center;
}

.tst-cta .tst-section-inner {
  max-width: 75ch;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. SECTIONS ABOUT ME
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-about-me .tst-paragraph {
  width: 100%;
  margin-bottom: var(--tst-space-xl);
}

.tst-about-me p:last-of-type.tst-paragraph {
  margin-bottom: 0;
}

.tst-about-me .tst-about-me-cta {
  display: flex;
  gap: var(--tst-space-m);
  padding-top: var(--tst-space-m);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. FOOTER
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-footer {
  background-color: var(--tst-color-text);
  color: var(--tst-color-primary);
  margin-top: auto;
}

#tst-footer .tst-section-inner {
  display: flex;
  flex-direction: column;
  gap: var(--tst-space-l);
  align-items: center;
  padding: var(--tst-space-l) var(--tst-space-x);
}

#tst-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tst-nav-gap-x);
  justify-content: center;
}

#tst-footer a {
  color: var(--tst-color-primary);
  text-decoration: none;
  position: relative;
}

#tst-footer .tst-contact-link a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

#tst-footer .tst-contact-link a::after {
  content: "\e89e";
  padding-top: 1px;
  font-family: var(--tst-icon-font);
}

#tst-footer p {
  margin-bottom: 0;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
4. HERO
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

main > header.tst-section > .tst-section-inner {
  height: calc(90vh - var(--tst-current-nav-height));
  display: grid;
  grid-template-columns: 8fr 50fr 17fr 20fr;
  grid-template-rows: 13fr 23fr 64fr;
}

main > header > .tst-section-inner h1 {
  color: var(--tst-color-text);
  grid-area: 1 / 1 / -1 / 3;
  z-index: 50;
  font-size: clamp(2.1rem, 5vw, 5.5rem);
}

main > header > .tst-section-inner .tst-picture {
  grid-area: 2 / 2 / -1 / 4;
  max-height: 60vh;
  z-index: 49;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main > header > .tst-section-inner > div {
  grid-area: 3 / 4 / -1 / -1;
  display: flex;
  flex-direction: column;
  gap: var(--tst-space-l);
  padding-left: var(--tst-space-m);
  font-size: 2rem;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
0. FORMULAR
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-form {
  display: grid;
  gap: var(--tst-space-m);
  margin: var(--tst-space-x) 0;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

#tst-form > * {
  grid-column: 1 / 2;
}

#tst-form > label[for="message"] {
  grid-area: 1 / 2 / 6 / 3;
}

#tst-form > label[for="message"] textarea {
  height: 100% !important;
}

@media (max-width: 768px) {
  #tst-form {
    grid-template-columns: 1fr;
  }

  #tst-form > * {
    grid-column: unset;
  }

  #tst-form > label[for="message"] {
    grid-area: unset;
  }
}

#tst-form label {
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-secondary-light);
  padding: var(--tst-space-xs) var(--tst-space-s);
  position: relative;
  border: 2px solid var(--tst-color-secondary-light);
}

#tst-form label:not([for="privacy"]):focus-within {
  border: 2px solid var(--tst-color-accent);
}

#tst-form label span.label {
  opacity: 0.6;
}

#tst-form label:is(:hover, :focus-within) span.label {
  opacity: 1;
}

#tst-form :is(textarea, select, input) {
  background-color: inherit;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
}

#tst-form textarea {
  resize: vertical;
}

/* Product Wrapper */

#tst-form .products {
  row-gap: var(--tst-space-m);
  display: grid;
  margin: var(--tst-space-m) 0;
  padding: var(--tst-space-s) 0;
  border-top: 3px solid var(--tst-color-secondary-light);
  border-bottom: 3px solid var(--tst-color-secondary-light);
}

#tst-form .products .product {
  display: flex;
  gap: var(--tst-space-m);
}

#tst-form .products .product > div {
  flex: 1 1 auto;
}

#tst-form .two-col {
  display: flex;
  gap: var(--tst-space-m);
  flex-wrap: wrap;
}

#tst-form .two-col > * {
  min-width: 20rem;
  flex: 1 1 auto;
}

#tst-form .products .product select:invalid {
  color: var(--tst-color-accent);
}

#tst-form .products .product .tst-button::after {
  font-family: var(--tst-icon-font);
  content: "\e872";
  font-size: 2rem;
}

/* invalid message */

#tst-form input:invalid:not(:placeholder-shown) + span::before {
  content: "Ungültig";
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--tst-color-accent);
  display: block;
}
#tst-form input:invalid:not(:placeholder-shown) + span {
  position: absolute;

  border: 0.2rem solid var(--tst-color-accent);
  background-color: var(--tst-color-primary);
  padding: 0.2rem 0.6rem;

  top: 0;
  right: 0;
  transform: translate(0.5rem, -0.5rem);
}

/* Datenschutz */

#tst-form [for="privacy"] {
  display: flex;
  padding-left: 0;
  flex-direction: row-reverse;
  justify-content: start;
  gap: var(--tst-space-m);
  align-items: center;
  background-color: var(--tst-color-primary);
  border: 0;
}

#tst-form [for="privacy"] span.label {
  opacity: 1;
}

#tst-form [for="privacy"] input {
  width: 2.2rem;
  aspect-ratio: 1 / 1;
  background-color: var(--tst-color-secondary-light);
  border: 2px solid var(--tst-color-secondary-light);
  position: relative;
}

#tst-form [for="privacy"] input:checked::before {
  content: "\e5ca";
  font-family: var(--tst-icon-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

#tst-form [for="privacy"] input:is(:hover, :focus-visible) {
  border-color: var(--tst-color-accent);
}

/* Responsive design */

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
0. PRODUCT LIST
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

.tst-product-list.f {
  background-size: contain;
}

.tst-product-list .tst-section-inner {
  display: grid;
  gap: var(--tst-space-l);
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
}

.tst-product-list .tst-product-card {
  background-color: var(--tst-color-secondary-2);
  display: flex;
  box-shadow: 0px 6px 20px 0px #3e434420;
  overflow: hidden;
  border-radius: var(--tst-border-radius);
  flex-direction: column;
}

.tst-product-list .tst-product-card > div {
  padding: var(--tst-space-m);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.tst-product-list .tst-product-price {
  margin-top: auto;
  margin-bottom: var(--tst-space-s);
  font-weight: bold;
}

.tst-product-list .tst-product-card .tst-button {
}

.tst-product-list .tst-product-card h2 {
  font-size: var(--tst-h3);
  margin-bottom: var(--tst-space-m);
  hyphens: auto;
}

.tst-product-list img {
  min-width: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

/* MODAL */

::backdrop {
  background: #fdf9f7;
}

.tst-modal[open] {
  width: calc(100vw - var(--tst-space-x) * 2);
  height: calc(100vh - var(--tst-space-y) * 2 - 5rem);
  padding: 0;
  border: none;
  inset: 0;
  background-color: unset;
  margin: calc(var(--tst-space-y) + 5rem) var(--tst-space-x) var(--tst-space-y)
    var(--tst-space-x);
  display: grid;
  overflow: visible;
  place-items: center;
}

.tst-modal > div {
  width: 100%;
  overflow: hidden;
  border-radius: var(--tst-border-radius);
  aspect-ratio: 2 / 1;
  background-color: var(--tst-color-primary);
  display: flex;
  box-shadow: 0px 6px 20px 0px #3e434420;
  max-width: var(--tst-default-page-width);
}

.tst-modal > div > * {
  flex: 1 1 auto;
  aspect-ratio: 1;
}

.tst-modal > div > div {
  padding: var(--tst-space-l);
  background-color: var(--tst-color-secondary-2);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.tst-product-list .tst-modal .tst-product-price {
  margin-top: 0;
}

.tst-product-list .tst-modal h2 {
  font-size: var(--tst-h2);
}

.tst-product-list .tst-modal button[type="submit"] {
  position: fixed;
  width: min-content;
  right: max(
    var(--tst-space-x),
    calc((50vw - var(--tst-default-page-width) / 2))
  );
  top: var(--tst-space-y);

  width: min-content;
}

.tst-product-list .tst-modal button[type="submit"]::after {
  content: "\e5cd";
  font-family: var(--tst-icon-font);
  font-size: 2rem;
  transform: translateY(1px);
}

.tst-product-list .tst-modal ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tst-space-xs);
}

.tst-product-list .tst-modal li {
  width: max-content;
  list-style-type: none;
  border-radius: calc((1.4rem * 1.3));
  color: var(--tst-color-text);
  background-color: var(--tst-color-secondary-2-light);
  font-size: 1.4rem;
  padding: var(--tst-space-xs) var(--tst-space-s);
}

.tst-product-list .tst-modal ul + .tst-button {
  margin-top: var(--tst-space-l);
  justify-self: end;
}

.tst-modal > div > div .tst-button {
  margin-top: auto;
}

@media (max-width: 768px) {
  .tst-modal > div {
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    width: auto;
    aspect-ratio: 10 / 16;
  }

  .tst-modal > div > div {
    padding: var(--tst-space-m);
  }

  .tst-modal > div > * {
    width: unset;
    flex: 0 1 auto;
    aspect-ratio: 1 / 1;
  }
  .tst-modal img {
    min-height: 0;
  }
}
